<div class="container">
<h1 class="jumbotron">News Nation</h1>
  <h2>Search your news</h2>
 <div class="input-group">
   <input type="text" class="form-control" placeholder="Search News Related to...." name="search" #searchTerm>
<!-- <select name="search" #searchTerm>
<option *ngFor="let news of news" #news [value]="news.id">{{news.news}}</option>
</select>
 -->

  <a  class="btn btn-sm btn-info" (click)="searchNews(searchTerm)">Search</a>
</div>
<div *ngFor="let news of news.articles">

<a href="{{news.url}}" target="blank"><h4> {{news.title}}</h4></a>{{news.description}}<br>
<img src="{{news.urlToImage}}" width="400px" height="300px">
<hr>
</div>
</div>
 